@import "../../styles/settings";

.PageTransition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: $color-primary-0;
  animation: fade-out 500ms 1 ease-out forwards;
  animation-delay: 1000ms;

  &:after, &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: translateX(100%);
    animation: wipe-up 600ms 1 cubic-bezier(0.55, -0.15, 0.38, 1) forwards;
  }

  &:after {
    background: $color-primary-0;
    animation-delay: 200ms;

  }

  &:before {
    background: $color-primary-4;
  }
}

@keyframes wipe-up {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
