@import "../../styles/settings";
@import "../../styles/tools";

.ProfilePreview {
  width: 300px;
  background: #fff;
  padding: $base-font-size;

  &__username {
    font-size: value(8);
    padding-bottom: $base-font-size;
    border-bottom: 1px solid #e4e5e6;
  }

  &__header {
    display: block;
    margin: value(2) 0;
    font-weight: bold;
  }

  .Img {
    margin: value(8) auto;
  }
}