@import "../../styles/settings";

$width: 250px;
.ConversationList {
  width: $width;
  background: #fff;
  padding: 0 0 $base-font-size;
  position: relative;
  transition: 250ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  &__inner {
    width: $width;
  }

  &__resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 3px;
    cursor: ew-resize;
    user-select: none;
  }

  &__item {
    text-decoration: none;
    color: #000;
  }
  .Message {
    box-shadow: none;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 0;

    &:hover {
      background: #f2f2f2;
      box-shadow: none;
    }
  }

}