@import "settings";
@import "tools";
@import "generic";

body {
  margin: 0;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  height: 100vh;
  font-family: 'Thasadith', sans-serif;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 899px;
  padding: 16px;
  box-sizing: border-box;
}