@import "../../styles/settings";
@import "../../styles/tools";

.Card {
  background: #fff;
  max-width: 100%;
  min-width: 400px;
  border-radius: $small-radius;
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);

  &__header {
    background: $color-primary-4;
    margin: 0;
    border-top-left-radius: $small-radius;
    border-top-right-radius: $small-radius;
    height: value(12);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
}

