
.Message {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 500ms ease-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.32);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-bottom: 4px;
    font-weight: bold;
  }

  &__message {
    padding: 8px;
    padding-top: 4px;
    word-break: break-all;
  }

  &--truncated {
    .Message__message {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: normal;
    }
  }

}