@import "../../styles/settings";

.Button {
  border-radius: $small-radius;
  border: none;
  background: $color-primary-4;
  padding: #{$base-font-size / 2} $base-font-size;
  font-size: $base-font-size;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: 250ms ease-out;

  &:hover {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }

  &:hover, &:focus {
    background: lighten($color-primary-4, 5%);
  }

  &:active {
    background: darken($color-primary-4, 5%);
  }
}

