@import "../../styles/settings";
@import "../../styles/tools";

.Toolbar {
  height: $toolbar-height;
  background: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $base-font-size;

  &__logout,
  &__settings {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    outline: none;
    padding: 0;

    &:active {
      opacity: .8;
    }
  }

  &__logout {
    background-image: url("/static/images/logout.png");
  }

  &__settings {
    background-image: url("/static/images/settings.png");
  }


  .Settings {
    position: absolute;
    z-index: z-index(super-top);
    top: value(15);
    left: value(4);
  }
}