.IntroLoader {

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 1200ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

  &__content {
    position: relative;
    visibility: hidden;
    animation: focus-in-contract 700ms cubic-bezier(0, 0.87, 0.32, 1.05) both, slide-out-blurred-bottom 450ms cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    animation-delay: 100ms, 3000ms;
    font-size: 52px;
    color: #fff;
  }

}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes focus-in-contract {
  0% {
    visibility: visible;
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    visibility: visible;
    filter: blur(0px);
    opacity: 1;
  }
}


@keyframes slide-out-blurred-bottom {
  0% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1000px) scaleY(2) scaleX(0.2);
    transform-origin: 50% 100%;
    filter: blur(40px);
    opacity: 0;
  }
}
