.Authentication {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;


  &__form--active {
    animation: fade-in 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
}
