@import "../../styles/settings";

.InputGroup {
  display: flex;
  flex-direction: column;
  label {
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
  }
  input {
    font-size: 16px;
    height: 32px;
    border-radius: $large-radius;
    border: none;
    background: #f2f2f8;
    outline: none;
    padding: 8px 16px;
    box-sizing: border-box;

    &:focus {
      box-shadow: inset 0px 0px 3px 0px #42479c;
    }
  }

  &__error {
    padding: 8px;
    color: red;
  }
}

