@import "../../styles/settings";

.Messages {
  position: relative;
  padding: 16px;
  background: $color-primary-2;
  flex: 1;
  max-height: 700px;
  overflow: auto;

  &__message {
    margin-bottom: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: flex-start;

    .Message {
      width: 300px;
    }
  }

  &__message--current {
    margin-right: 0;
    margin-left: 40px;
    justify-content: flex-end;

    .Message {
      background: $rgba-secondary-1-2;
    }
  }

}