.ContactFinder {
  position: relative;
  padding: 0 8px 8px;

  &__results {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 14px 20px -14px rgba(0, 0, 0, 0.47);
  }
  
  .InputGroup .InputGroup__error {
    display: none;
  }

  &__contact {
    min-height: 30px;
    padding: 8px;
    border-bottom: 1px solid #e4e5e6;
    border-top: 1px solid #e4e5e6;
    cursor: pointer;

    &:hover {
      background: #f2f2f2;
    }
    &:first-child,  &:last-child {
      border-bottom: none;
    }
  }
}