.Form {

  &__fields {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }

  &__link {
    font-size: 14px;
    margin: 8px 8px 16px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

