@import "../../styles/settings";
@import "../../styles/tools";

.Conversation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-left: 1px solid #e4e5e6;
  border-right: 1px solid #e4e5e6;

  &__update {
    position: absolute;
    padding: #{$base-font-size / 2};
    top:  value(7) * -1;
    left: 0;
    width: 100%;
    background: #fff;
    font-size: value(3);
  }

  &__text-box {
    position: relative;
    padding: $base-font-size;
    height: 140px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);

    textarea {
      width: 99%;
      height: 100px;
      border-radius: $small-radius;
      resize: none;

      font-size: $base-font-size;
      border: none;
      background: #f2f2f8;
      outline: none;
      padding: #{$base-font-size / 2} $base-font-size;
      box-sizing: border-box;

      &:focus {
        box-shadow: inset 0 0 3px 0 #42479c;
      }
    }

    .Button {
      margin-top: $base-font-size;
    }
  }

}