@import "../../styles/settings";
@import "../../styles/tools";

.Alert {
  border-radius: $small-radius;
  background: red;
  color: #fff;
  padding: $base-font-size;
  margin: #{$base-font-size / 2} 0;
}